* {
    box-sizing: border-box;
}
body {
    height: 100%;
}
.image {
    height: 100%;
}
.ui.cards > .card {
    display: flex;
    margin: 3em .5em;
    float: none;
}
.ui.card>.image>img,
.ui.cards>.card>.image>img {
 display:block;
 width:100%;
 height:100%;
 border-radius:inherit
}
