* {
    box-sizing: border-box;
}
body {
    height: 100%;
}
.image {
    height: 100%;
}
.ui.card>.image>img,
.ui.cards>.card>.image>img {
 display:block;
 width:100%;
 height:100%;
 border-radius:inherit
}